<table class="lg-table table-bordered table-condensed table-hover table-striped" border="1" width="100%">
    {% if results[0] is defined %}
        <thead>
            {% for col, val in results[0] %}
                <td>
                    {{col}}
                </td>
            {% endfor %}
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    {% for col, val in result %}
                        <td>
                            {% if val.timestamp is defined %}
                                {{ val|date('m/d/Y') }}
                            {% else %}
                                {{ val[0:20] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <tbody>
            <tr>
                <td>
                    {%- if noResults is defined -%}
                        {{ noResults }}
                    {%- else -%}
                        No results
                    {%- endif -%}
                </td>
            </tr>
        </tbody>
    {% endif %}
</table>